.jektify {
	flex-grow: 1;
	width: 100%;
	display: flex;
}
.jektify__body{
	flex-grow: 1;
	display: flex !important;
	flex-direction: column;
}
.jektify__header {
	display: none;
}
.jektify--dark {
	opacity: 1;
	box-shadow: none;
	&:hover {opacity: 1;}
}

.jektify__tracklist {
	position: relative;
	flex-grow: 1;
	overflow: hidden;

	iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
	}
}