/* Header */
#header {
	.header-container {
		display: flex;
		padding: 2em;
	}

	.logo {
		display: block;
		flex-grow: 1;

		border-bottom: 0;
		color: inherit;
		font-weight: _font(weight-bold);
		letter-spacing: _font(letter-spacing);
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;

		> * {
			display: inline-block;
			vertical-align: middle;
		}

		.symbol {
			margin-right: 0.65em;

			img {
				display: block;
				width: 2em;
				height: 2em;
			}
		}
	}

	nav {
		position: fixed;
		right: 2em;
		top: 2em;
		z-index: _misc(z-index-base);

		a {
			border: 0;
		}
	}

	@include breakpoint(small) {
		nav {
			right: 0.5em;
			top: 0.5em;

			ul {
				li {
					a[href="100"] {
						&:before, &:after {
							background-size: 1.5em 1.5em;
						}

					}

				}
			}
		}
	}
}
